/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-background: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  display: block;
}

:root.theme-dark .header__theme-menu-button {
  color: var(--accent-color, #FF0070);
}

:root.theme-dark .header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

:root.theme-dark .header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

:root.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}