/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --background-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --card-background: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .rec {
  display: none;
}

:root.theme-light .header__theme-menu-button {
  color: var(--accent-color, #353430);
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

:root.theme-light .header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

:root.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}