/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  color: var(--text-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 18px;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  min-width: 375px;
  padding: 0 10px;
}

.rec {
  color: var(--accent-color);
  position: absolute;
  width: 33px;
  height: 26px;
  right: 38px;
  top: 10px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec::before {
  content: "";
  background: var(--accent-color);
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 9px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
	filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.decorated-zone::before {
  content: "";
	position: absolute;
  border-top: 1px solid var(--accent-color);
	border-right: 1px solid var(--accent-color);
	inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  line-height: 0.83;

  margin-top: 65px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  color: var(--card-title-color);
  background-color: var(--card-background);
  align-self: center;
  justify-self: end;
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  font-weight: 400;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-button {
  display: inline-block;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  border: none;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 0 40px 0;
  padding: 0px 10px;
}

.section__title {
  color: var(--section-title-color);
  margin: 0 0 20px 0;
  font-weight: 700;
  font-weight: bold;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  color: var(--card-title-color);
  background-color: var(--card-background);
  font-weight: 700;
} 

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.pictures__list {
  display: grid;
  gap: 10px;
}

.pictures__image {
  display: block;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}