/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  color: var(--text-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 18px;
  font-family: "IBM Plex mono";
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  min-width: 375px;
  padding: 0 10px;
}

.rec {
  color: var(--accent-color);
  position: absolute;
  width: 33px;
  height: 26px;
  right: 38px;
  top: 10px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec::before {
  content: "";
  background: var(--accent-color);
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 9px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
	filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.decorated-zone::before {
  content: "";
	position: absolute;
  border-top: 1px solid var(--accent-color);
	border-right: 1px solid var(--accent-color);
	inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  line-height: 0.83;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  color: var(--card-title-color);
  background-color: var(--card-background);
  align-self: center;
  justify-self: end;
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  font-weight: 400;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-button {
  display: inline-block;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  border: none;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 0 40px 0;
  padding: 40px 10px;
}

.section__title {
  color: var(--section-title-color);
  margin: 0 0 20px 0;
  font-weight: 700;
  font-weight: bold;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  color: var(--card-title-color);
  background-color: var(--card-background);
  font-weight: 700;
} 

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.pictures__list {
  display: grid;
  gap: 10px;
}

.pictures__image {
  display: block;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    min-height: 1024px;
  }

  .rec {
    inset-inline-end: 38px;
    inset-block-start: 20px;
  }
  
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-inline-size: 364px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .reasons,
  .solutions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .reasons {
    flex-direction: column;
  }

  .section__title {
    max-width: 236px;
    min-width: 236px;
  }

  .what_reduces .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .pictures__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .pictures__list {
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
      "picture-1 picture-2 picture-2"
      "picture-4 picture-3 picture-2"
      "picture-4 picture-5 picture-5";
  }

  .picture-1 {
    grid-area: picture-1;
  }

  .picture-2 {
    grid-area: picture-2;
  }

  .picture-3 {
    grid-area: picture-3;
  }

  .picture-4 {
    grid-area: picture-4;
  }

  .picture-5 {
    grid-area: picture-5;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }
}

@media (min-width: 1024px) {
  .page {
    width: 1024px;
  }

  .header {
    min-block-size: 768px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    grid-row: 2;
    grid-column: 1 / 4;
  }

  .header__text {
    grid-row: 3;
    grid-column: 1 / 4;
  }

  .reasons,
  .solutions {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .reasons .card-list,
  .what_reduces .card-list {
    grid-column: 2;
  }

  .what_reduces .card-list {
    grid-template-columns: repeat(3, 1fr);
  }


  .pictures__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .pictures__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .pictures__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .pictures__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .pictures__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .pictures__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer {
    min-block-size: 768px;
  }
}