/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  min-width: 375px;
  padding: 0 10px;
}

