:root {
  --background-color: #000028;
  --card-background: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --accent-color-transparent: #FF007066;
  --background-image: url(../images/cover-image-dark.png);
}
